Description

In [1]:
# The code was removed by Watson Studio for sharing.

   No Keyword  Search Volume       CPC  Paid Difficulty  Search Difficulty
0   1      瑜珈          27100  NT$14.00               27                 48
1   2     瑜珈墊          14800   NT$6.25              100                 66
2   3     瑜珈球           4400   NT$3.08              100                 63
3   4    瑜珈動作           4400   NT$8.18               19                 38
4   5     瑜珈服           3600  NT$13.27              100                 63